body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#home {
    background-image: url("./images/laptop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 125vh;
}

.home-chevron {
    height: 2em;
    margin-left: 49%;
    margin-top: 26%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: aliceblue;
    text-align: center;
    font-size: 6em;
    margin-bottom: 0;
    text-shadow: 0 0 5px #87CEEB, 0 0 15px #87CEEB, 0 0 20px #87CEEB, 0 0 40px #87CEEB, 0 0 50px #87CEEB, 0 0 10px #ff8d00, 0 0 90px #ff0000;
    
}

header ul {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-style: normal;
    color: aliceblue;                                        
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 6em;
    padding-top: 2em;   
}

a {
    color: aliceblue;
    text-decoration: none;
    scroll-behavior: smooth;
}

.dev {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-style: normal;
    color: aliceblue;
    text-align: center;
    font-size: 2em; 
}

#resume {
    height: 40vh;
    padding-top: 1em;
    background-color: #000;
    background-size: cover; 
}

.resume-chevron-up {
    height: 2em;  
}

.resume-chevron-down {
    height: 2em;
    margin-top: 33.3%;
}

#projects {
    margin-top: 7em;
    height: 50vh;
    background-color: #000;
    background-size: cover;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-size: 2em;
    font-style: normal;
    color: aliceblue;
    text-align: center;
    margin-bottom: 0; 
}

.resume {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-size: 1em;
    font-style: normal;
    color: aliceblue;
    text-align: center;
}

.projects {
    width: 30em; /* Width of the card */
    max-height: 50vh; /* Maximum height before scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the card */
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1.1em;
    font-style: normal;
    color: aliceblue;
    text-align: center;
}

#about {
    height: 100vh;
    padding-top: 1em;
    background-color: #000;
    background-size: cover;
    margin-top: -4em;
    
}

.about, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-size: 1.1em;
    font-style: normal;
    color: aliceblue;
    text-align: center;
}

.about-chevron-up {
    height: 2em;
}

.about-chevron-down {
    height: 2em;
    margin-top: 17%;   
}

#contact {
    margin-top: -1em;
    height: 100vh;
    background-color: #000;
    background-size: cover;
    text-align: center;
}

.contact ul {
    margin-top: 18em;
    margin-right: 2.4em;
    display: flex;
    justify-content: center;
    gap: 8em;
    padding-bottom: .5em;
}

.contact-chevron-up {
    height: 2em;
    margin-bottom: 14%;
     
}

.contact-chevron-home {
    height: 2em;
    margin-top: 100%;
}

.proton {
    padding-top: 1em;
}


svg {
    height: 3em;
    color: aliceblue;
}

.chevron {
    color: rgba(211, 211, 211, 0.333);
}


/* Extra Large devices (large desktops, 1665px and up) */
@media (min-width: 1665px) {

    .home-chevron {
        margin-top: 27%;
        margin-left: 49.2%;
    }

    #resume {
        margin-top: -4em;
    }

    #about {
        height: 100vh;
        margin-top: -4em;
    }

    #contact {
        margin-top: -1em;
    }

    .contact ul {
        margin-top: 20em;
        margin-right: 3em;
        gap: 10em;
        margin-bottom: 200em;
    }

    .chevron {
        visibility: hidden;
    }

    .final-chevron {
        visibility: visible;
    }
}

/* Medium devices (desktops, 992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {

    #home {
        height: 120vh;
    }

    header ul {
        gap: 3em;

    }

    h1 {
        font-size: 5em;
    }

    #resume {
        margin-top: -5em;
    }

    #projects {
        width: 80%;
        max-height: 50vh;
    }

    #about {
        width: 100%;
        margin-top: -9em;
    }

    #contact {
        height: 20vh;
        margin-top: -16em;
    }

    .chevron {
        visibility: hidden;
    }


    .final-chevron {
        visibility: visible;
    }

}

/* Small devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {

    #home {
        height: 100vh;
    }

    header ul {
        gap: 3em;
    }

    h1 {
        font-size: 4em;
    }

    #resume {
        margin-top: -5em;
    }

    .projects {
        width: 90%;
    }

    .resume-chevron-down {
        padding-top: 17%;
    }

    .about-chevron-down {
        margin-top: 32%;
    }

    #about {
        margin-top: -9em;
    }

    #contact {
        height: 103vh;
        margin-top: -20em;
    }

    .contact-chevron-up {
        height: 2em;
        margin-bottom: 24%;
    }

    .contact ul {
        margin-top: 17em;
        gap: 5em;
    }

    .chevron {
        visibility: hidden;
    }

    .final-chevron {
        visibility: visible;
    }

}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

    #home {
        height: 90vh;
        margin-bottom: 4em;
    }

    #resume {
        height: 40vh;
    }
    
    header ul {
        gap: .5em;
        padding-bottom: 2em;
        font-size: .8em;
        margin-right: 5%;
    }

    h1 {
        font-size: 2.5em;
        margin-top: 2.7em;
    }

    .dev {
        font-size: 1em;
    }

    #projects {
        height: 40vh;
    }

    #about {
        height: 20vh;
        margin-top: -5em;
        width: 90%;
        margin-left: 1.7em;
    }

    .about, p {
        font-family: "Montserrat", sans-serif;
        font-weight: 250;
        font-size: .9em;
        line-height: 2;
        font-style: normal;
        color: aliceblue;
        text-align: center;
    }

    #contact {
        height: 20vh;
        margin-top: 45em;
    }

    .chevron {
        visibility: hidden;
    }

    .final-chevron {
        visibility: visible;
    }

    svg {
        height: 2em;
    }

    .contact ul {
        gap: 2em;
    }

}
