body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

#home {
    background-image: url("./images/laptop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 125vh;
}

.home-chevron {
    height: 2em;
    margin-left: 49%;
    margin-top: 26%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: aliceblue;
    text-align: center;
    font-size: 6em;
    margin-bottom: 0;
    text-shadow: 0 0 5px #87CEEB, 0 0 15px #87CEEB, 0 0 20px #87CEEB, 0 0 40px #87CEEB, 0 0 50px #87CEEB, 0 0 10px #ff8d00, 0 0 90px #ff0000;
    
}

header ul {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-style: normal;
    color: aliceblue;                                        
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 6em;
    padding-top: 2em;   
}

a {
    color: aliceblue;
    text-decoration: none;
    scroll-behavior: smooth;
}

.dev {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-style: normal;
    color: aliceblue;
    text-align: center;
    font-size: 2em; 
}

#resume {
    height: 40vh;
    padding-top: 1em;
    background-color: #000;
}

.resume-chevron-up {
    height: 2em;  
}

.resume-chevron-down {
    height: 2em;
    margin-top: 33.3%;
}

#projects {
    margin-top: 7em;
    height: 50vh;
    background-color: #000;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-size: 2em;
    font-style: normal;
    color: aliceblue;
    text-align: center;
    margin-bottom: 0; 
}

.resume {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-size: 1em;
    font-style: normal;
    color: aliceblue;
    text-align: center;
}

.projects {
    width: 30em; /* Width of the card */
    max-height: 50vh; /* Maximum height before scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the card */
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1.1em;
    font-style: normal;
    color: aliceblue;
    text-align: center;
}

#about {
    height: 100vh;
    padding-top: 1em;
    background-color: #000;
    margin-top: -4em;
    
}

.about, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-size: 1.1em;
    font-style: normal;
    color: aliceblue;
    text-align: center;
}

.about-chevron-up {
    height: 2em;
}

.about-chevron-down {
    height: 2em;
    margin-top: 17%;   
}

#contact {
    margin-top: -1em;
    height: 10vh;
    background-color: #000;
    text-align: center;
}

.contact ul {
    margin-top: 18em;
    margin-right: 2.4em;
    display: flex;
    justify-content: center;
    gap: 8em;
    padding-bottom: .5em;
}

.contact-chevron-up {
    height: 2em;
    margin-bottom: 13%;
     
}

.contact-chevron-home {
    height: 2em;
    margin-top: 100%;
}

.proton {
    padding-top: 1em;
}

svg {
    height: 3em;
    color: aliceblue;
}

.chevron {
    color: rgba(211, 211, 211, 0.333);
}

/* Base styles written for standard 13.6" laptop */

/* Extra Large devices (large desktops/monitors, 1665px and up) */
@media (min-width: 1665px) {

    #resume {
        margin-top: -4em;
    }

    #about {
        height: 100vh;
        margin-top: -4em;
    }

    #contact {
        margin-top: -1em;
    }

    .contact ul {
        margin-top: 20em;
        margin-right: 3em;
        gap: 10em;
    }

    .chevron {
        visibility: hidden;
    }

    .final-chevron {
        visibility: visible;
    }
}

/* Medium devices (Small laptops/large tablets, 992px to 1367px) */
@media (min-width: 992px) and (max-width: 1367px) {

    #home {
        height: 120vh;
    }

    header ul {
        gap: 3em;

    }

    h1 {
        font-size: 5em;
    }

    #resume {
        margin-top: -5em;
    }

    #projects {
        width: 80%;
        max-height: 50vh;
    }

    #about {
        width: 100%;
        margin-top: -9em;
    }

    #contact {
        margin-top: -14em;
    }

    .chevron {
        visibility: hidden;
    }

    .final-chevron {
        visibility: visible;
    }

} 

/* Small devices (large phones/small tablets, 501px to 991px) */
@media (min-width: 501px) and (max-width: 991px) {

    #home {
        height: 100vh;
    }

    header ul {
        gap: 3em;
    }

    h1 {
        font-size: 4em;
    }

    #resume {
        margin-top: -5em;
    }

    .projects {
        width: 90%;
    }

    #about {
        margin-top: -9em;
        width: 80%;
        margin-left: 3.5em;
    }

    .contact ul {
        margin-top: 17em;
        gap: 5em;
    }


    .chevron {
        visibility: hidden;
    }

    .final-chevron {
        visibility: visible;
    }

}

/* Extra small devices (phones, less than 500px) */
@media (max-width: 500px) {

    #home {
        height: 90vh;
        margin-bottom: 4em;
    }

    #resume {
        height: 40vh;
    }
    
    header ul {
        gap: .5em;
        padding-bottom: 2em;
        font-size: .8em;
        margin-right: 5%;
    }

    h1 {
        font-size: 2.5em;
        margin-top: 2.7em;
    }

    .dev {
        font-size: 1em;
    }

    #projects {
        height: 40vh;
    }

    #about {
        height: 20vh;
        margin-top: -5em;
        width: 90%;
        margin-left: 1.7em;
    }

    .about, p {
        font-family: "Montserrat", sans-serif;
        font-weight: 250;
        font-size: .9em;
        line-height: 2;
        font-style: normal;
        color: aliceblue;
        text-align: center;
    }

    #contact {
        margin-top: 45em;
    }

    .chevron {
        visibility: hidden;
    }

    .final-chevron {
        visibility: visible;
    }

    svg {
        height: 2em;
    }

    .contact ul {
        gap: 2em;
    }

}
